<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <%= render 'shared/navbar' %>
    <% unless notice.blank? %>
      <div class="alert alert-info alert-dismissable alert-fixed">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>
      <% end %>
      <% unless alert.blank? %>
        <div type="button" class="close" data-dismiss="alert">
          <%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&time;</button>
        </div>
      <% end %>
  </body>
</html>

